body, div, td {
    font-family: courier new;
    font-size: 11pt;
}

body {
    background: #ddd;
}

a:link, a:visited, a:active {
    color: #f60;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tdcontent {
    border-top: 1px solid #666;
}

#content {
    width: 700px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
}

#infoPopup {
    visibility: hidden;
};